<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lofibeats | about</title>

	<link rel="stylesheet" href="/static/css/about.css">
	<link rel="stylesheet" href="/static/css/navbar-overlay.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

</head>

<body>
	<div class="about-cover">
		<div id="about">

			<%- include('./partials/navbar-overlay.ejs') %>

			<div class="main-content">
				<div class="about-us-heading">
					ABOUT <span style="color: #F12849;">L</span>OFI<span style="color: #1CC5DC;">B</span>EATS
				</div>

				<div class="line">
					<hr>
				</div>

				<div class="about-us-content">
					With lofibeats, it’s easy to relax while listening to lofi music – on your phone, your computer, your tablet and more.
					There are hundreds of  hand picked best quality lofis on lofibeats. So whether you’re working or relaxing, the right music  is always at your fingertips.
					Enjoy your work with lofibeats. Listen for free. No signups needed.
					<br>
					<br>
					We're always looking for ways to improve. Email us at <a href="mailto:contact@lofibeats.com" class="text-blue">contact@lofibeats.com</a>.
					<br>
					<br>
					lofibeats was founded and developed in 2021 by Anurag sati.
				</div>
			</div>
		</div>
	</div>

	<script src="/static/js/navbar-overlay.js"></script>
</body>
</html>