<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lofibeats | Listen</title>


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="/static/css/lofi.css">
	<link rel="stylesheet" href="/static/css/navbar-overlay.css">

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>

	<div id="initial-overlay">
		<div class="card">
			<h2>Welcome to lofibeats!</h2>
			<p>
				Plug in your earphones and enjoy.
			</p>

			<button class="continue-button" onclick="closeInitialOverlay()">Continue</button>
		</div>
	</div>
	  
	<div class="lofi-cover">
		<div id="lofi">

			<%- include('./partials/navbar-overlay.ejs') %>

			<div class="main-content">
				<div class="lofi-name">
					<span id="lofi-name"></span>
				</div>

				<div class="music">
					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
					<span class="line line4"></span>
					<span class="line line5"></span>
				</div>

				<div class="controls">
					<i onclick="playPauseShuffle()" class="pause-button fas fa-pause-circle"></i>
					<i onclick="playPauseShuffle()" class="play-button fas fa-play-circle"></i>
					<i onclick="getAudio()" class="random-button fas fa-random"></i>
				</div>

			</div>
		</div>

	</div>

	<audio id='audio' autoplay></audio>

	<script src="/static/js/navbar-overlay.js"></script>
	<script src="/static/js/lofi.js"></script>
</body>
</html>